In [9]:
import sqlite3

In [10]:
con = sqlite3.connect('teste.db')
cur = con.cursor()

In [11]:
cur.execute('''
            CREATE TABLE IF NOT EXISTS categorias (
                id INTEGER PRIMARY KEY,
                nome TEXT NOT NULL)
            ''')

In [12]:
cur.execute('''PRAGMA table_info(categorias)''')
estrutura = cur.fetchall()
for coluna in estrutura:
    print(coluna)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'nome', 'TEXT', 1, None, 0)

In [15]:
cur.execute('''select name from sqlite_master where type = 'table' ''')
for table in cur.fetchall():
    print(table [0])

In [13]:
cur.execute('''ALTER TABLE categorias ADD COLUMN ativo BOOLEAN DEFAULT 1''')

In [14]:
cur.execute('''DROP TABLE categorias''')