In [ ]:
import pandas as pd

In [ ]:
idades = pd.Series([10, 50, 30, 80, 10], index=['a', 'b', 'c', 'd', 'e'], name='Idades')
print(idades)

In [ ]:
print (f"O total de registros de idade é: {idades.count()}")
print (f"A soma das idades é: {idades.sum()}")
print (f"A média das idades é: {idades.mean()}")
print (f"O valor mínimo das idades é: {idades.min()}")
print (f"O valor máximo das idades é: {idades.max()}")
print (f"O desvio padrão das idades é: {idades.std()}")
print (f"A variância das idades é: {idades.var()}")
print (f"O valor da mediana das idades é: {idades.median()}")
print (f"Os valores das idades ordenados são: {idades.sort_values().values}")
print (f"Os valores das idades ordenados pelo índice são: {idades.sort_index().values}")
print (f"Os 3 maiores valores das idades são: {idades.nlargest(3).values}")
print (f"Os 3 menores valores das idades são: {idades.nsmallest(3).values}")
print (f"A descrição estatística das idades é:\n{idades.describe()}")
print (f"A soma cumulativa das idades é: {idades.cumsum().values}")
print (f"O produto cumulativo das idades é: {idades.cumprod().values}")
print (f"As idades únicas são: {idades.unique()}")
print (f"A contagem de valores únicos das idades é:\n{idades.value_counts()}")

In [ ]:
dados = {
    'nome': ['Ana', 'Bruno', 'Carlos', 'Diana', 'Eduardo'],
    'idade': [23, 35, 45, 29, 40],
    'salario': [5000, 7000, 8000, 6000, 9000]
}
df = pd.DataFrame(dados)
print(df)

In [ ]:
dados = ["João", 12, 1000], ["Maria", 15, 1500], ["Pedro", 14, 1200],["Xuxa", 12, 1000], ["Ana", 15, 1500], ["Pedrão", 14, 1200],["Zé", 12, 1000], ["Maria", 15, 1500], ["Pedro", 14, 1200]
   
df2 = pd.DataFrame(dados, columns=['Nome', 'Idade', 'Salário'])
print(df2)
print(df2.info())
print(df2.describe())
print(df2.head(2))
print(df2.tail(2))
print(df2['Nome'])
print(df2.shape)

In [11]:
dados = {
    'nome': ['Ana', 'Bruno', 'Carlos', 'Diana', 'Eduardo'],
    'idade': [23, 35, 45, 29, 40],
    'salario': [5000, 7000, 8000, 6000, 9000]
}
df = pd.DataFrame(dados)
df["somaIdadeSalário"] = df["idade"] + df["salario"]
df["genero"] = ['F', 'M', 'M', 'F', 'M']
salario_por_genero = df.groupby("genero")["salario"].mean()
print(f"Média salarial por gênero:\n{salario_por_genero}")
salario_ordenado = df.sort_values(by="salario", ascending=False)
print(f"DataFrame ordenado por salário (decrescente):\n{salario_ordenado}")
df["salario"] = df["salario"].astype(float)

print(df)

Média salarial por gênero:
genero
F    5500.0
M    8000.0
Name: salario, dtype: float64
DataFrame ordenado por salário (decrescente):
      nome  idade  salario  somaIdadeSalário genero
4  Eduardo     40     9000              9040      M
2   Carlos     45     8000              8045      M
1    Bruno     35     7000              7035      M
3    Diana     29     6000              6029      F
0      Ana     23     5000              5023      F
      nome  idade  salario  somaIdadeSalário genero
0      Ana     23   5000.0              5023      F
1    Bruno     35   7000.0              7035      M
2   Carlos     45   8000.0              8045      M
3    Diana     29   6000.0              6029      F
4  Eduardo     40   9000.0              9040      M

In [12]:
df2 = df.copy()
df2['salario'] = df2['salario'] * 1.2
print(df2)

      nome  idade  salario  somaIdadeSalário genero
0      Ana     23   6000.0              5023      F
1    Bruno     35   8400.0              7035      M
2   Carlos     45   9600.0              8045      M
3    Diana     29   7200.0              6029      F
4  Eduardo     40  10800.0              9040      M

In [16]:
df3 = df2.copy()
df3['idade'] = df3['idade'] + 5
df3.loc[df3['genero'] == 'F', 'salario'] *= 1.9
df3.loc[(df3['genero'] == 'M') & (df3['salario'] <= 10000), 'salario'] *= 1.5
print(df3)

      nome  idade  salario  somaIdadeSalário genero
0      Ana     28  11400.0              5023      F
1    Bruno     40  12600.0              7035      M
2   Carlos     50  14400.0              8045      M
3    Diana     34  13680.0              6029      F
4  Eduardo     45  10800.0              9040      M